//# ===============
//> colorum palette (цветовая палитра)
//# ===============
//! color: var(--primary) 
//*============================================================================================================
:root {
  // =================================================================
  --accent: #8dc0df;
  --secondary: #356380;


  // -----------------------------------

  --bg-main-color: #ecf6f7;
  --bg-primary-color: #c4ddf2;
  --bg-secondary-color: #9bd1f2;
  --bg-acume-color: #8cc0df;

  --bg-gradient-acume: linear-gradient(to right, rgba(155, 209, 242, 1), rgba(196, 221, 242, 1));
  //--------------------------------------

  // -----------------------------------------
  --text-primary: #333333;
  --text-primary-light: #3333339c;
  --text-ming: #356380;
  --text-main: #8dc0df;


}

//*============================================================================================================