//# ===============
//> Set index (Установить индекс)
//# ===============
//? z-index: $index-thin 
//*================================================================
$index-negative: -1;
$index-thin: 100;
$index-light: 300;
$index-regular: 400;
$index-medium: 500;
$index-bold: 700;
$index-black: 900;
//---------------
$index-fifty: 50;
$index-thousand: 1000;
//*================================================================