//!Файл нужно импортировать для работы


/*
body {
  background: url('@img/13.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {


    &__container {
    @include flexbox(space-between, center);
    border: 1px solid red;
    // background: url('@img/13.jpg');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    background: url('@img/icons/sprite.svg#footer_tw');

  }
}


*/